@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./fonts.css";
@import "./utils.css";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

textarea:focus,
input:focus {
  outline: none;
}

*:focus {
  outline: none;
}
